{{ extends "../layout/main.html" }}

{{ block Preloader() }}
<style>
        ul.list{
            list-style:  none;
        }
        ul.list > li {
            padding: 5px 0;       
        }
    </style>
{{ end }}

{{ block Page() }} 
    <div class="container grid-lg">
        
        <div class="panel">
            <div class="panel-header">
                <div class="panel-title">
                    &nbsp;&nbsp;&nbsp; <b>{{ .blog }}</b> &nbsp;|&nbsp; posts
                    <div class="float-right"> 
                        <a href="/explore/blog/{{.blogid}}/new" 
                            class="btn btn-default">
                            New Post
                        </a> 
                    </div>
                    <div class="clearfix"></div>
                </div>
                <hr>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                        <th>Index</th>
                        <th>Title</th>
                        <th>Published on</th>
                        <th>Views</th>
                        <th>Action</th>
                    </thead>
                {{ range index , post := .posts}}
                        <tr>
                            <td> {{ index+1 }}</td>
                            <td>
                                <a href="/explore/blog/{{post.Blog.Id}}/post/{{post.Id}}"> 
                                    {{ post.Title }}
                                </a>
                            </td>
                            <td>{{ post.Published }} </td>
                            <td></td>
                            <td>
                                <a href="/explore/blog/{{post.Blog.Id}}/post/delete/{{post.Id}}"
                                    class="btn danger">
                                    Delete Post
                                 </a>
                            </td>
                        </tr>
                {{ end }}
            </table>
            </div>
        </div>
    </div>
{{ end }}

{{ block Postloader() }}
{{ end }}