{{ extends "layout/site.html" }}

{{ block Page() }}
    <div style="padding-left: 20px;" >
        <h5 >FAQs</h5>

        <br>
        
        <p>
            <b> Does my credentails [ in any form ] will be stored with this site ?</b>
            <p> No, This site does not store your credentails in any form for any purose. Not even your email address </p>
        </p>

        <p> 
            <b> Is it free of cost ? </b>
            <p> Yes, It is free and it will be while it is running. </p>
        </p>

        <p>
            <b> Does my content going to be store by this site ?</b>
            <p> No, this site does not store your content in any form at any stage.
            </p>
        </p>

        <hr/>
        <i> If you have any further question, please reache me at <mail>m.champaneri.20@gmail.com</mail></i>

    </div>
{{ end }}